html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: "Courier New";
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDA_gxmZSuskixZvduEJP7Y_-aMSGQDxVI&
    center=35.12929790045169,-89.97078695&zoom=11&
    format=png&
    maptype=roadmap&
    style=element:geometry%7Ccolor:0x212121&
    style=element:labels%7Cvisibility:off&
    style=element:labels.icon%7Cvisibility:off&
    style=element:labels.text.fill%7Ccolor:0x757575&
    style=element:labels.text.stroke%7Ccolor:0x212121&
    style=feature:administrative%7Celement:geometry%7Ccolor:0x757575%7Cvisibility:off&
    style=feature:administrative.country%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&
    style=feature:administrative.land_parcel%7Cvisibility:off&
    style=feature:administrative.locality%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&
    style=feature:administrative.neighborhood%7Cvisibility:off&
    style=feature:poi%7Cvisibility:off&
    style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x757575&
    style=feature:poi.park%7Celement:geometry%7Ccolor:0x181818&
    style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x616161&
    style=feature:poi.park%7Celement:labels.text.stroke%7Ccolor:0x1b1b1b&
    style=feature:road%7Celement:geometry.fill%7Ccolor:0x2c2c2c&
    style=feature:road%7Celement:labels.icon%7Cvisibility:off&
    style=feature:road%7Celement:labels.text.fill%7Ccolor:0x8a8a8a&
    style=feature:road.arterial%7Celement:geometry%7Ccolor:0x373737&
    style=feature:road.highway%7Celement:geometry%7Ccolor:0x3c3c3c&
    style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0x4e4e4e&
    style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x616161&
    style=feature:transit%7Cvisibility:off&
    style=feature:transit%7Celement:labels.text.fill%7Ccolor:0x757575&
    style=feature:water%7Celement:geometry%7Ccolor:0x000000&
    style=feature:water%7Celement:labels.text.fill%7Ccolor:0x3d3d3d&size=480x360);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #2A562B;
}
img#banner {
  width: 100%;
}
img#portrait {
  float: right;
  width: 30%;
  border: 1px solid #373538;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div#container {
  height: 100%;
  width: 80%;
  max-width: 900px;
  background-color: #ABADAF;
  margin: 0 auto 0 auto;
}
div#title {
  padding: 40px 0 32px 0;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #373538;
}
div#content {
  background-color: #ABADAF;
  padding: 50px;
  font-size: 16px;
  line-height: 30px;
}
div.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: #373538;
}
